label {
	display: inline-block;
	text-align: right; 
}
input {
	margin: 10px;
	padding: 10px;
	width: 50%;
}
div {
	margin-top: 20px;
}
button {
	background-color: #ffe699;
	border: 1px solid gray;
	height: 40px;
	width: 100px;
	cursor: pointer;
}
.main {
	display: flex;
}
.users {
	border: 2px solid black;
	border-radius: 50px;
	padding: 20px;
	flex-basis: 50%;
	margin: 20px;
	
}
.search {
	display: flex;
	width: 100%;
	margin-bottom: 50px;
	justify-content: space-between;
}
.search input {
	margin-left: 20px;
}
.user {
	width: 500px;
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 20px;
}
.user span {
	margin-left: 32px;
}

.selected {
	background-color: #f8cbad;
}
.completed {
	border: 2px solid greenyellow;
}
.not-completed {
	border: 2px solid red;
}

.address {
	display: grid;
	grid-template-columns: max-content max-content;
	padding: 20px;
	margin: 5px;
	background-color: #f2f2f2;
	border-radius: 25px;
	border: 2px solid black;
}
.address input {
	background-color: inherit;
	font-family: "Roboto", sans-serif;
	width: 50%;
	
}
.buttons {
	display: flex;
	justify-content: end;
	margin-bottom: 5px;
}
.todos-posts {
	min-width: 500px;
}
.todos-posts-border {
	border: 3px solid black;
    padding:  10px
}
.titlePostOrTodo {
	margin-top: 50px;
	margin-bottom: 10px;
	min-width: 500px;
	display: flex;
	justify-content: space-between;
}
.todo {
	margin-top: 0;
	margin: 10px;
	padding: 10px;
	border: 3px solid purple;
	display: flex;
	justify-content: space-between;
}
.todo div {
	width: fit-content;
	margin-top: unset;
}
.todo button {
	margin-top: 40px;
	width: 200px;
	height: 30px;
}

.todo span {
	text-transform: capitalize;
}


.post {
	margin: 20px;
	padding: 10px;
	border: 3px solid purple;
}
.post tr td:first-child {
	text-align: left;
	width: fit-content;
	padding: 20px 20px 20px;
	width: 1%;
	white-space: nowrap;
}


.addContainer {
	margin-top: 5px;
	border: 3px solid black;
	padding: 20px 20px 20px 20px;
}
.addContainer label {
	padding: 30px 30px 30px;
	text-align: left;
	width: 80%;
}
.addContainer input {
	margin-left: 50px;
}
.addContainer button {
	margin: 5px;
}

.error {
	padding: 100px;
	background-color: tomato;
	font-size: 3em;
	text-align: center;
	font-weight: bolder;
	margin-top: 0;
}
